body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*HeaderBar*/
.trigger{
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}
.trigger:hover{
    color: #1890ff;
}
.header-ul{
  display: flex;
}
.header-ul li{
  text-align: center;
}
.header-ul li:nth-child(2){
  width: 140px;
}
.header-ul li:nth-child(3){
  margin-right: 30px;
}